body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*{
  box-sizing: border-box;
}
main:after,
.results .results-list li:after,
.results .results-list .more-like-this-item:after,
.search-form > form:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
main{
  margin-top:3.5625em;
  padding:1em 0 2em 0;
}
.search-form{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:#6699cc;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
}
.search-form > form > div{
  float:left;
}
.search-form input[type="text"],
.search-form input[type="submit"]{
  border:none;
  -webkit-appearance: none;
  border-radius: 0;
  font-size:1.5em;
  padding:0.5em 1em;
  font-weight:300;
  background:#eee;
}
.search-form input[type="text"]:focus,
.search-form input[type="submit"]:focus{
  outline:0;
}
.search-form .form-item{
  width:calc(100% - 4.5em);
}
.search-form input[type="text"] {
  width:100%
}
.search-form input[type="submit"]{
  background-color:#6699cc;
  background-repeat:no-repeat;
  background-position: 50% 50%;
  color:transparent;
  width:3em;
  overflow:hidden;
}
.facets {
  position:fixed;
  top:3.5625em;
  left:0;
  width:20em;
  overflow-y:auto;
  background:#ccc;
  border-right:1px solid #eee;
}
.results {
  margin-left:21em;
  padding-right:1em;
}
.facets h2{
  font-size:1em;
  margin:0;
  font-weight:500;
  font-family: 'Open Sans', sans-serif;
  background-color:#6699cc;
  padding:0.5em;
  cursor: pointer;
  position:relative;
  border-bottom:1px solid #cadfee;
  color:#253352;
}
.facets .facet-block h2:after {
  display:block;
  width:16px;
  height:16px;
  content:".";
  position:absolute;
  top:0.5em;
  right:1em;
  line-height:9999px;
  overflow:hidden;
  transition: all ease 0.4s;
}
.facets .facet-block.open h2:after,
.facets .facet-block.active h2:after{
  transform: rotate(180deg);
}
.facets .facet-block {
  background:#fff;
}
.results ul,
.results li
.facets .facet-block ul,
.facets .facet-block li {
  display:block;
  list-style:none;
}
.facets .facet-block .facet-content {
  padding:0.5em;
  display:none;
}
.facets .facet-block.active .facet-content {
  display:block;
}
.facets .facet-block li {
  line-height:1.3em;
}
.facets .facet-block .see-more{
  margin-top:0.75em;
}
a.ajax-link.ajax-loading{
  padding-left:1.3em;
  background-position: 0% 50%;
}
.results h3 {
  font-size:1.1em;
  margin:0 0 0.2em;
  font-weight:normal;
}
.results li em {
  font-style: normal;
  font-weight: bold;
}
.results li {
  margin:1em 0;
}
.results li .thumbnail {
  float:left;
  width:5em;
  max-height:10em;
  overflow: hidden;
  border:1px solid #ccc;
  vertical-align: middle;
  margin:0 0.5em 0.25em 0;
}
.results li .thumbnail img {
  width:100%;
  height:auto;
}
.results li .excerp{
  font-size:0.9em;
  line-height:1.3em;
  margin-top:0.3em;
}
.results li .url a {
  font-size:0.9em;
  color:#6c6159;
  text-decoration: none;
}
.results li .title a
.results .pager ul {
  text-align: center;
  margin-top:2em;
}
.results .pager li {
  display:inline;
  padding:0 0.5em;
}
.results .pager li.active{
  font-weight:bold;
}
.results li .source{
  display:none;
  clear:both;
  font-size:0.8em;
}
.results li .more-like-this-container {
  font-size: 13px;
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 3em;
  border: 1px solid #ccc;
  padding: 0 1em;
}
.results .results-list .more-like-this-item{
  margin-bottom:1em;
}
.results li .more-like-this a{
  font-size:0.8em;
}