{% block form_row %}
    <div class="form-item{% if form.vars.required %} required{% endif %}">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}
{% block button_row %}
    <div class="form-action">
        {{ form_widget(form) }}
    </div>
{% endblock button_row %}